@section Scripts {
    @Scripts.Render("~/bundles/ResourceManage")
    @Scripts.Render("~/bundles/auth")
}

<div class="col-sm-12" style="float:left" >
    
    <h3>Surveys Responses Received</h3>
    <div class="col-sm-12" style="float:left;margin-bottom:30px;margin-top:10px;padding-left:0px">
        <div class="col" style="float:left;margin-right:10px">
            <select class="form-control" data-bind="options: studyGroups,
                                                                        optionsCaption: 'Choose study group',
                                                                        optionsText: 'StudyGroupName',
                                                                        optionsValue: 'Id',
                                                                        value: selectedStudyGroupForSurvey"></select>

        </div>
        <div class="col" style="float:left">
            <button class="btn btn-style" style="height:34px" id="btnFilter">Filter</button>
        </div>
    </div>
   
    
    

    
    <table class="table table-hover table-bordered table-striped" id="responsesTable">
        <thead>
            <tr>
                <th>Study Group Name</th>
                <th>Survey Name</th>
                <th>User Name</th>
                <th>Survey Type</th>
                <th>Responses</th>
            </tr>
        </thead>

    </table>

</div>