
@section Scripts {
    @Scripts.Render("~/bundles/Dashboard")
    @Scripts.Render("~/bundles/auth")
}

<div class="row">
 
    <div class="col-sm-12">
        <div class="col" style="float:right; margin:10px">
            <button type="button" class="btn btn-style btn-lg" data-toggle="modal" data-target="#myModal">Add User</button>
            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Enroll User</h4>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label data-bind="value: result" />
                            </div>
                            <div class="form-group error-messages" data-bind="foreach: errors">
                                <p data-bind="text: $data" />
                            </div>
                        </div>

                        <form data-bind="submit:AddUser">
                            <div class="modal-body" style="float:left; clear:both;">

                                <div class="form-row">
                                    <div class="col" style="float:left; margin:10px">
                                        <input type="text" data-bind="value: userName" class="form-control" placeholder="User Name">
                                    </div>
                                    <div class="col" style="float:left; margin:10px">
                                        <input type="text" data-bind="value: userEmail" class="form-control" placeholder="Email">
                                    </div>
                                    <div class="col" style="float:left; margin:10px">
                                        <input type="password" data-bind="value: userPassword" class="form-control" placeholder="Password">
                                    </div>
                                    <div class="col" style="float:left; margin:10px;">
                                        <select class="form-control" data-bind="options: studyGroups,
                                                                        optionsCaption: 'Choose study group',
                                                                        optionsText: 'StudyName',
                                                                        optionsValue: 'StudyGroupId',
                                                                        value: selectedStudyGroup"></select>
                                    </div>
                                    <div class="col" style="float:left; margin:10px">
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <hr />
                                <button type="submit" class="btn btn-default">Add</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>

            <button type="button" class="btn btn-style btn-lg" data-toggle="modal" data-target="#addCoordinatorModal">Add Study Coordinator</button>
            <!-- Modal -->
            <div class="modal fade" id="addCoordinatorModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Enroll Study Coordinator</h4>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label data-bind="value: result" />
                            </div>
                            <div class="form-group error-messages" data-bind="foreach: errors">
                                <p data-bind="text: $data" />
                            </div>
                        </div>

                        <form data-bind="submit:AddStudyCoordinator">
                            <div class="modal-body" style="float:left; clear:both;">

                                <div class="form-row">
                                    <div class="col" style="float:left; margin:10px">
                                        <input type="text" data-bind="value: userName" class="form-control" placeholder="User Name">
                                    </div>
                                    <div class="col" style="float:left; margin:10px">
                                        <input type="text" data-bind="value: userEmail" class="form-control" placeholder="Email">
                                    </div>
                                    <div class="col" style="float:left; margin:10px">
                                        <input type="password" data-bind="value: userPassword" class="form-control" placeholder="Password">
                                    </div>
                                    <div class="col" style="float:left; margin:10px">
                                        <input type="password" data-bind="value: userConfirmPassword" class="form-control" placeholder="Confirm Password">
                                    </div>
                                    <div class="col" style="float:left; margin:10px">
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <hr />
                                <button type="submit" class="btn btn-default">Add</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12" style="float:left">
        <h3 style="margin-bottom:10px;margin:10px">List of users enrolled</h3>
        <div class="col-sm-12" style="float:left;margin:10px">
            
            <table class="table table-hover table-bordered table-striped" id="usersTable">
                <thead>
                    <tr>
                        <th>User Name</th>
                        <!--<th>Study Group</th>-->
                    </tr>
                </thead>

            </table>
        </div>

    </div>
</div>