
@section Scripts {
    @Scripts.Render("~/bundles/PublishSurveys")
    @Scripts.Render("~/bundles/auth")
}

<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            <label data-bind="value: result" />
        </div>
        <div class="form-group error-messages" data-bind="foreach: errors">
            <p data-bind="text: $data" />
        </div>
    </div>

    <div class="col-sm-12" style="float:left;margin-bottom:20px">
        <h3>Publish Messages to Study Group</h3>
        <div class="col" style="float:left; margin:10px">
            <select class="form-control" data-bind="options: studyGroups,
                                                                        optionsCaption: 'Choose study group',
                                                                        optionsText: 'StudyGroupName',
                                                                        optionsValue: 'Id',
                                                                        value: selectedStudyGroupForQuestion"></select>
        </div>
        <div class="col" style="float:left; margin:10px">
            <select class="form-control" data-bind="options: questions,
                                                                        optionsCaption: 'Choose question',
                                                                        optionsText: 'QuestionText',
                                                                        optionsValue: 'QuestionId',
                                                                        value: selectedQuestionId"></select>
        </div>
        <div class="col" style="float:left; margin:10px">
            <!-- <form>
                 <input type="text" name="txtQuestion" class="form-control" placeholder="Question">
             </form>-->
        </div>
        <div class="col" style="float:left; margin:10px">
            <form>
                <input type="radio" name="frequency" value="0"> Daily
                <input type="radio" name="frequency" value="1"> Hourly
                <input type="radio" name="frequency" value="2"> Twice a Day
            </form>
        </div>
        <div class="col" style="float:left; margin:10px;">
            <form>
                <input type="time" title="time slot" name="time1" value="12" style=" visibility:hidden">
                <input type="time" title="second time slot" name="time2" value="12" style=" visibility:hidden">
            </form>
        </div>
        <div class="col pull-right" style="float:left">
            <button class="btn btn-style" style="float:left; height:34px" id="btnPublishQuestion">Publish Message</button>
        </div>

    </div>
    <div class="col-sm-12" style="float:left;margin-bottom:20px">
        <h3>Publish Survey to Study Group</h3>
        <div class="col" style="float:left; margin:10px">
            <select class="form-control" data-bind="options: studyGroups,
                                                                        optionsCaption: 'Choose study group',
                                                                        optionsText: 'StudyGroupName',
                                                                        optionsValue: 'Id',
                                                                        value: selectedStudyGroupForSurvey"></select>
        </div>
        <div class="col" style="float:left; margin:10px">
            <select class="form-control" data-bind="options: AllSurveys,
                                                                        optionsCaption: 'Choose Survey',
                                                                        optionsText: 'SurveyName',
                                                                        optionsValue: 'SurveyId',
                                                                        value: selectedSurveyId"></select>
        </div>
        <div class="col pull-right" style="float:left">
            <button class="btn btn-style" style="float:left; height:34px" id="btnPublishSurvey">Publish Survey</button>
        </div>

    </div>

    <div class="col-sm-12" style="float:left">
        
   

    <h3 style="margin-bottom:20px;margin-top:10px">Already Published Items</h3>
    <table class="table table-hover table-bordered table-striped" id="surveysTable">
        <thead>
            <tr>
                <th>Survey Id</th>
                <th>Survey Name</th>
                <th>Study Group Name</th>
            </tr>
        </thead>

    </table>
    </div>
</div>