<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.uncc.homework4">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.SEND"/>
    <permission
    android:name="edu.uncc.homework4.permission.C2D_MESSAGE"
    android:protectionLevel="signature" />
    <uses-permission android:name="edu.uncc.homework4.C2D_Message"/>

    <application
        android:name=".SurveyApplication"
        android:allowBackup="true"
        android:icon="@drawable/carelogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/carelogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >

        <!-- GCM Changes-->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.example.gcm" />
            </intent-filter>
        </receiver>
        <service
            android:name="edu.uncc.homework4.MyGcmListenerService"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name="edu.uncc.homework4.MyInstanceIDListenerService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <service
            android:name="edu.uncc.homework4.RegistrationIntentService"
            android:exported="true">
        </service>



        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SurveyActivity" />
        <activity
            android:name="org.researchstack.backbone.ui.ViewTaskActivity"
            android:theme="@style/SurveyTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="org.researchstack.backbone.ui.ViewWebDocumentActivity"
            android:label="@string/app_name"
            android:theme="@style/SurveyTheme" />
        <activity android:name=".HomeActivity" />
        <activity
            android:name=".NavigationDrawerActivity"
            android:label="Care Me"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>